
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General page setup
 */
#DefaultBody {
	font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}


#DefaultBody #container {
	width: 800px;
	margin: 30px auto;
	padding: 0;
}


#DefaultBody #footer {
	margin: 50px auto 0 auto;
	padding: 0;
}

#DefaultBody #demo {
	margin: 30px auto 0 auto;
}

#DefaultBody .demo_jui {
	margin: 30px auto 0 auto;
}

#DefaultBody .big {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.6em;
	color: #4E6CA3;
}

#DefaultBody .spacer {
	height: 20px;
	clear: both;
}

#DefaultBody .clear {
	clear: both;
}

#DefaultBody pre {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

#DefaultBody h1 {
	margin-top: 2em;
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	border-bottom: 1px solid #B0BED9;
	clear: both;
}

#DefaultBody h2 {
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	clear: both;
}

#DefaultBody a {
	color: #0063DC;
	text-decoration: none;
}

#DefaultBody a:hover {
	text-decoration: underline;
}

#DefaultBody ul {
	color: #4E6CA3;
}

.floatright {
	float: right;
}

.floatleft {
	float: left;
}