/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General page setup
 */
body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;	
	/*background-color: #ffffff;*/
	color: #333;
	font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	/*font:13px/1.231 arial,helvetica,clean,sans-serif;
	font-size:small; 
	font:x-small;*/ 
    width: 1440px;
}
img {border-width: 0px;}

#container {
	width: 100%;
    height: 50%;
	margin: 0;
	padding: 0;
    float: left;
}

#container #left {
	width: 858px;
    height: 100%;
	margin: 1px;
	padding: 0;
    float: inherit;
}

#container #right {
	width: 570px;
    height: 100%;
	margin: 1px;
	padding: 0;
    float: inherit;
}

#container .big {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.6em;
	color: #4E6CA3;
}

#container .spacer {
	height: 20px;
	clear: both;
}

#container .clear {
	clear: both;
}

#container pre {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

#container h1 {
	margin-top: .5em;
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	border-bottom: 1px solid #B0BED9;
	clear: both;
}

#container h2 {
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	clear: both;
}

#container a {
	color: #0063DC;
	text-decoration: none;
}

#container a:hover {
	text-decoration: underline;
}

#container ul {
	color: #4E6CA3;
}

.floatright {
	float: right;
}

.floatleft {
	float: left;
}

.border {
    border: 1px solid black;
}
