div.DTE {
    position: relative;
}

    div.DTE div.DTE_Processing_Indicator {
        position: absolute;
        top: 10px;
        right: 13px;
        height: 32px;
        width: 32px;
        background: url("../images/ajax-loader.gif") no-repeat top left;
        display: none;
        z-index: 20;
    }

    div.DTE div.DTE_Header {
        position: absolute;
        top: 0;
        left: 0;
        height: 50px;
        width: 100%;
        background-color: #f3f3f3;
        border-bottom: 1px solid #ddd;
        padding: 16px 10px 2px 16px;
        font-size: 1.3em;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    div.DTE div.DTE_Footer {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50px;
        width: 100%;
        background-color: #f3f3f3;
        border-top: 1px solid #ddd;
        padding: 10px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    div.DTE div.DTE_Form_Info {
        margin-bottom: 0.5em;
        display: none;
    }

    div.DTE div.DTE_Form_Content {
        position: relative;
        padding: 10px;
    }

    div.DTE div.DTE_Form_Error {
        float: left;
        padding: 5px;
        display: none;
        color: #b11f1f;
    }

    div.DTE div.DTE_Form_Buttons button {
        position: relative;
        text-align: center;
        display: block;
        margin-top: 0;
        padding: 5px 15px;
        cursor: pointer;
        float: right;
        font-size: 14px;
        text-shadow: 0 1px 0 white;
        border: 1px solid #999;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        -ms-border-radius: 4px;
        -o-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: 1px 1px 3px #cccccc;
        -moz-box-shadow: 1px 1px 3px #cccccc;
        box-shadow: 1px 1px 3px #cccccc;
        background-color: #f9f9f9 100%;
        background-image: -webkit-linear-gradient(top, #fff 0%, #eee 65%, #f9f9f9 100%);
        background-image: -moz-linear-gradient(top, #fff 0%, #eee 65%, #f9f9f9 100%);
        background-image: -ms-linear-gradient(top, #fff 0%, #eee 65%, #f9f9f9 100%);
        background-image: -o-linear-gradient(top, #fff 0%, #eee 65%, #f9f9f9 100%);
        background-image: linear-gradient(top, #fff 0%, #eee 65%, #f9f9f9 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='white', EndColorStr='#f9f9f9');
    }

        div.DTE div.DTE_Form_Buttons button:hover {
            border: 1px solid #666;
            -webkit-box-shadow: 1px 1px 3px #999999;
            -moz-box-shadow: 1px 1px 3px #999999;
            box-shadow: 1px 1px 3px #999999;
            background-color: #f4f4f4 100%;
            background-image: -webkit-linear-gradient(top, #f3f3f3 0%, #dbdbdb 65%, #f4f4f4 100%);
            background-image: -moz-linear-gradient(top, #f3f3f3 0%, #dbdbdb 65%, #f4f4f4 100%);
            background-image: -ms-linear-gradient(top, #f3f3f3 0%, #dbdbdb 65%, #f4f4f4 100%);
            background-image: -o-linear-gradient(top, #f3f3f3 0%, #dbdbdb 65%, #f4f4f4 100%);
            background-image: linear-gradient(top, #f3f3f3 0%, #dbdbdb 65%, #f4f4f4 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#f3f3f3', EndColorStr='#f4f4f4');
        }

        div.DTE div.DTE_Form_Buttons button:active {
            -webkit-box-shadow: inset 1px 1px 3px #999999;
            -moz-box-shadow: inset 1px 1px 3px #999999;
            box-shadow: inset 1px 1px 3px #999999;
        }

        div.DTE div.DTE_Form_Buttons button:focus {
            border: 1px solid #426c9e;
            text-shadow: 0 1px 0 #c4def1;
            background-color: #a3d0ef 100%;
            background-image: -webkit-linear-gradient(top, #a3d0ef 0%, #79ace9 65%, #a3d0ef 100%);
            background-image: -moz-linear-gradient(top, #a3d0ef 0%, #79ace9 65%, #a3d0ef 100%);
            background-image: -ms-linear-gradient(top, #a3d0ef 0%, #79ace9 65%, #a3d0ef 100%);
            background-image: -o-linear-gradient(top, #a3d0ef 0%, #79ace9 65%, #a3d0ef 100%);
            background-image: linear-gradient(top, #a3d0ef 0%, #79ace9 65%, #a3d0ef 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#a3d0ef', EndColorStr='#a3d0ef');
            outline: none;
        }

            div.DTE div.DTE_Form_Buttons button:focus:after {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: white;
                display: block;
                content: " ";
                -webkit-animation-duration: 1s;
                -webkit-animation-name: buttonPulse;
                -webkit-animation-fill-mode: forwards;
                -webkit-animation-iteration-count: infinite;
                -webkit-animation-timing-function: linear;
                -webkit-animation-direction: alternate;
                -moz-animation-duration: 1s;
                -moz-animation-name: buttonPulse;
                -moz-animation-fill-mode: forwards;
                -moz-animation-iteration-count: infinite;
                -moz-animation-timing-function: linear;
                -moz-animation-direction: alternate;
                -o-animation-duration: 1s;
                -o-animation-name: buttonPulse;
                -o-animation-fill-mode: forwards;
                -o-animation-iteration-count: infinite;
                -o-animation-timing-function: linear;
                -o-animation-direction: alternate;
                animation-duration: 1s;
                animation-name: buttonPulse;
                animation-fill-mode: forwards;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-direction: alternate;
            }

    div.DTE.DTE_Action_Remove div.DTE_Body_Content {
        text-align: center;
        padding: 20px 0;
    }

@-webkit-keyframes buttonPulse {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.2;
    }
}

@-moz-keyframes buttonPulse {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.2;
    }
}

@-o-keyframes buttonPulse {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.2;
    }
}

@keyframes buttonPulse {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 0.2;
    }
}

div.DTTT_container {
    float: left;
}

div.DTE_Field input, div.DTE_Field textarea {
    box-sizing: border-box;
    background-color: white;
    -webkit-transition: background-color ease-in-out .15s;
    transition: background-color ease-in-out .15s;
}

    div.DTE_Field input:focus, div.DTE_Field textarea:focus {
        background-color: #ffffee;
    }

    div.DTE_Field input[type="color"], div.DTE_Field input[type="date"], div.DTE_Field input[type="datetime"], div.DTE_Field input[type="datetime-local"], div.DTE_Field input[type="email"], div.DTE_Field input[type="month"], div.DTE_Field input[type="number"], div.DTE_Field input[type="password"], div.DTE_Field input[type="search"], div.DTE_Field input[type="tel"], div.DTE_Field input[type="text"], div.DTE_Field input[type="time"], div.DTE_Field input[type="url"], div.DTE_Field input[type="week"] {
        padding: 6px 4px;
        width: 100%;
    }

div.DTE_Field div.DTE_Field_Info, div.DTE_Field div.DTE_Field_Message {
    font-size: 11px;
    line-height: 1em;
}

div.DTE_Field div.DTE_Field_Error {
    font-size: 11px;
    line-height: 1em;
    display: none;
    color: red;
    margin-top: 5px;
}

div.DTE_Field_Type_textarea textarea {
    padding: 3px;
    width: 100%;
    height: 80px;
}

div.DTE_Field.DTE_Field_Type_date img {
    vertical-align: middle;
    cursor: pointer;
    *cursor: hand;
}

div.DTE_Field.DTE_Field_Type_date input.jqueryui {
    width: 87%;
    margin-right: 1em;
}

div.DTE_Field_Type_checkbox div.DTE_Field_Input > div > div, div.DTE_Field_Type_radio div.DTE_Field_Input > div > div {
    margin-bottom: 0.25em;
}

    div.DTE_Field_Type_checkbox div.DTE_Field_Input > div > div:last-child, div.DTE_Field_Type_radio div.DTE_Field_Input > div > div:last-child {
        margin-bottom: 0;
    }

    div.DTE_Field_Type_checkbox div.DTE_Field_Input > div > div label, div.DTE_Field_Type_radio div.DTE_Field_Input > div > div label {
        margin-left: 0.75em;
        vertical-align: middle;
    }

div.DTE_Body {
    padding: 50px 0;
}

    div.DTE_Body div.DTE_Body_Content {
        position: relative;
        overflow: auto;
    }

        div.DTE_Body div.DTE_Body_Content div.DTE_Form_Info {
            padding: 1em 1em 0 1em;
            margin: 0;
        }

        div.DTE_Body div.DTE_Body_Content div.DTE_Field {
            position: relative;
            zoom: 1;
            clear: both;
            padding: 5px 20%;
            border: 1px solid transparent;
        }

            div.DTE_Body div.DTE_Body_Content div.DTE_Field:after {
                display: block;
                content: ".";
                height: 0;
                line-height: 0;
                clear: both;
                visibility: hidden;
            }

            div.DTE_Body div.DTE_Body_Content div.DTE_Field:hover {
                background-color: #f9f9f9;
                border: 1px solid #f3f3f3;
            }

            div.DTE_Body div.DTE_Body_Content div.DTE_Field > label {
                float: left;
                width: 40%;
                padding-top: 6px;
            }

            div.DTE_Body div.DTE_Body_Content div.DTE_Field > div.DTE_Field_Input {
                float: right;
                width: 60%;
            }

html[dir="rtl"] div.DTE_Body div.DTE_Body_Content div.DTE_Field > label {
    float: right;
}

html[dir="rtl"] div.DTE_Body div.DTE_Body_Content div.DTE_Field > div.DTE_Field_Input {
    float: left;
}

html[dir="rtl"] div.DTE div.DTE_Form_Buttons button {
    float: left;
}

@media only screen and (max-width: 768px) {
    div.DTE_Body div.DTE_Body_Content div.DTE_Field {
        padding: 5px 10%;
    }
}

@media only screen and (max-width: 640px) {
    div.DTE_Body div.DTE_Body_Content div.DTE_Field {
        padding: 5px 0;
    }
}

@media only screen and (max-width: 580px) {
    div.DTE_Body div.DTE_Body_Content div.DTE_Field {
        position: relative;
        zoom: 1;
        clear: both;
        padding: 5px;
    }

        div.DTE_Body div.DTE_Body_Content div.DTE_Field > label {
            float: none;
            width: auto;
            padding-top: 0;
        }

        div.DTE_Body div.DTE_Body_Content div.DTE_Field > div.DTE_Field_Input {
            float: none;
            width: auto;
        }
}

div.DTE_Bubble {
    position: absolute;
    z-index: 11;
    margin-top: -6px;
    opacity: 0;
}

    div.DTE_Bubble div.DTE_Bubble_Liner {
        position: absolute;
        bottom: 0;
        border: 1px solid black;
        width: 300px;
        margin-left: -150px;
        background-color: white;
        box-shadow: 2px 2px 7px #555;
        border-radius: 5px;
        border: 2px solid #444;
        padding: 1em;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

        div.DTE_Bubble div.DTE_Bubble_Liner div.DTE_Bubble_Table {
            display: table;
            width: 100%;
        }

            div.DTE_Bubble div.DTE_Bubble_Liner div.DTE_Bubble_Table > form {
                display: table-cell;
            }

                div.DTE_Bubble div.DTE_Bubble_Liner div.DTE_Bubble_Table > form div.DTE_Form_Content {
                    padding: 0;
                }

                    div.DTE_Bubble div.DTE_Bubble_Liner div.DTE_Bubble_Table > form div.DTE_Form_Content div.DTE_Field {
                        position: relative;
                        zoom: 1;
                        margin-bottom: 0.5em;
                    }

                        div.DTE_Bubble div.DTE_Bubble_Liner div.DTE_Bubble_Table > form div.DTE_Form_Content div.DTE_Field:last-child {
                            margin-bottom: 0;
                        }

            div.DTE_Bubble div.DTE_Bubble_Liner div.DTE_Bubble_Table div.DTE_Form_Buttons {
                display: table-cell;
                vertical-align: bottom;
                padding: 0 0 0 0.75em;
                width: 1%;
            }

        div.DTE_Bubble div.DTE_Bubble_Liner div.DTE_Header {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }

            div.DTE_Bubble div.DTE_Bubble_Liner div.DTE_Header + div.DTE_Form_Info, div.DTE_Bubble div.DTE_Bubble_Liner div.DTE_Header + div.DTE_Bubble_Table {
                padding-top: 42px;
            }

        div.DTE_Bubble div.DTE_Bubble_Liner div.DTE_Form_Error {
            float: none;
            display: none;
            padding: 0;
            margin-bottom: 0.5em;
        }

        div.DTE_Bubble div.DTE_Bubble_Liner div.DTE_Bubble_Close {
            position: absolute;
            top: -11px;
            right: -11px;
            width: 22px;
            height: 22px;
            border: 2px solid white;
            background-color: black;
            text-align: center;
            border-radius: 15px;
            cursor: pointer;
            *cursor: hand;
            z-index: 12;
            box-shadow: 2px 2px 6px #111;
        }

            div.DTE_Bubble div.DTE_Bubble_Liner div.DTE_Bubble_Close:after {
                content: '\00d7';
                color: white;
                font-weight: bold;
                font-size: 18px;
                line-height: 18px;
            }

            div.DTE_Bubble div.DTE_Bubble_Liner div.DTE_Bubble_Close:hover {
                background-color: #092079;
                box-shadow: 2px 2px 9px #111;
            }

    div.DTE_Bubble div.DTE_Bubble_Triangle {
        position: absolute;
        height: 10px;
        width: 10px;
        top: -6px;
        background-color: white;
        border: 2px solid #444;
        border-top: none;
        border-right: none;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }

div.DTE_Bubble_Background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    background: -ms-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    background: -moz-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    background: -o-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    background: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, rgba(0,0,0,0.3)), color-stop(1, rgba(0,0,0,0.7)));
    background: -webkit-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    background: radial-gradient(ellipse farthest-corner at center, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    z-index: 10;
}

    div.DTE_Bubble_Background > div {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    }

        div.DTE_Bubble_Background > div:not([dummy]) {
            filter: progid:DXImageTransform.Microsoft.gradient(enabled='false');
        }

div.DTE_Inline {
    display: table;
    width: 100%;
}

    div.DTE_Inline div.DTE_Inline_Field, div.DTE_Inline div.DTE_Inline_Buttons {
        display: table-cell;
        vertical-align: middle;
    }

        div.DTE_Inline div.DTE_Inline_Field div.DTE_Field, div.DTE_Inline div.DTE_Inline_Buttons div.DTE_Field {
            padding: 0;
        }

            div.DTE_Inline div.DTE_Inline_Field div.DTE_Field > label, div.DTE_Inline div.DTE_Inline_Buttons div.DTE_Field > label {
                display: none;
            }

        div.DTE_Inline div.DTE_Inline_Field div.DTE_Form_Buttons button, div.DTE_Inline div.DTE_Inline_Buttons div.DTE_Form_Buttons button {
            margin: -6px 0 -6px 4px;
            padding: 5px;
        }

    div.DTE_Inline div.DTE_Field input[type="color"], div.DTE_Inline div.DTE_Field input[type="date"], div.DTE_Inline div.DTE_Field input[type="datetime"], div.DTE_Inline div.DTE_Field input[type="datetime-local"], div.DTE_Inline div.DTE_Field input[type="email"], div.DTE_Inline div.DTE_Field input[type="month"], div.DTE_Inline div.DTE_Field input[type="number"], div.DTE_Inline div.DTE_Field input[type="password"], div.DTE_Inline div.DTE_Field input[type="search"], div.DTE_Inline div.DTE_Field input[type="tel"], div.DTE_Inline div.DTE_Field input[type="text"], div.DTE_Inline div.DTE_Field input[type="time"], div.DTE_Inline div.DTE_Field input[type="url"], div.DTE_Inline div.DTE_Field input[type="week"] {
        margin: -6px 0;
    }

div.DTED_Lightbox_Wrapper {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left: -390px;
    width: 780px;
    height: 100%;
    z-index: 11;
}

    div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container {
        *position: absolute;
        *top: 50%;
        #position:absolute;
        #top:50%;
        display: table;
        height: 100%;
        width: 100%;
    }

        div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper {
            *position: relative;
            #position:relative;
            display: table-cell;
            vertical-align: middle;
            width: 100%;
        }

            div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper div.DTED_Lightbox_Content {
                *top: -50%;
                #top:-50%;
                position: relative;
                border: 7px solid rgba(220,220,220,0.5);
                box-shadow: 2px 2px 10px #555;
                border-radius: 10px;
                -webkit-box-sizing: border-box;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }

                div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper div.DTED_Lightbox_Content div.DTE {
                    background: white;
                    border-radius: 6px;
                    box-shadow: 0 0 5px #555;
                    border: 2px solid #444;
                    -webkit-box-sizing: border-box;
                    -moz-box-sizing: border-box;
                    box-sizing: border-box;
                }

                    div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper div.DTED_Lightbox_Content div.DTE div.DTE_Header {
                        top: 2px;
                        left: 2px;
                        right: 2px;
                        width: auto;
                        border-top-left-radius: 5px;
                        border-top-right-radius: 5px;
                    }

                    div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper div.DTED_Lightbox_Content div.DTE div.DTE_Footer {
                        bottom: 2px;
                        left: 2px;
                        right: 2px;
                        width: auto;
                        border-bottom-left-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }

                div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper div.DTED_Lightbox_Content div.DTED_Lightbox_Close {
                    position: absolute;
                    top: -11px;
                    right: -11px;
                    width: 22px;
                    height: 22px;
                    border: 2px solid white;
                    background-color: black;
                    text-align: center;
                    border-radius: 15px;
                    cursor: pointer;
                    *cursor: hand;
                    z-index: 12;
                    box-shadow: 2px 2px 6px #111;
                }

                    div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper div.DTED_Lightbox_Content div.DTED_Lightbox_Close:after {
                        content: '\00d7';
                        color: white;
                        font-weight: bold;
                        font-size: 18px;
                        line-height: 18px;
                    }

                    div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper div.DTED_Lightbox_Content div.DTED_Lightbox_Close:hover {
                        background-color: #092079;
                        box-shadow: 2px 2px 9px #111;
                    }

div.DTED_Lightbox_Background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    background: -ms-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    background: -moz-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    background: -o-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    background: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, rgba(0,0,0,0.3)), color-stop(1, rgba(0,0,0,0.7)));
    background: -webkit-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    background: radial-gradient(ellipse farthest-corner at center, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0.7) 100%);
    z-index: 10;
}

    div.DTED_Lightbox_Background > div {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
        -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    }

        div.DTED_Lightbox_Background > div:not([dummy]) {
            filter: progid:DXImageTransform.Microsoft.gradient(enabled='false');
        }

body.DTED_Lightbox_Mobile div.DTED_Lightbox_Background {
    height: 0;
}

body.DTED_Lightbox_Mobile div.DTED_Lightbox_Shown {
    display: none;
}

body.DTED_Lightbox_Mobile div.DTED_Lightbox_Wrapper {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: auto;
    height: auto;
    margin-left: 0;
    -webkit-overflow-scrolling: touch;
}

    body.DTED_Lightbox_Mobile div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container {
        display: block;
    }

        body.DTED_Lightbox_Mobile div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper {
            display: block;
        }

            body.DTED_Lightbox_Mobile div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper div.DTED_Lightbox_Content {
                border: 4px solid rgba(220,220,220,0.5);
                border-radius: 0;
            }

                body.DTED_Lightbox_Mobile div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper div.DTED_Lightbox_Content div.DTE {
                    border-radius: 0;
                    box-shadow: 0 0 5px #555;
                    border: 2px solid #444;
                }

                    body.DTED_Lightbox_Mobile div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper div.DTED_Lightbox_Content div.DTE div.DTE_Header {
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                    }

                    body.DTED_Lightbox_Mobile div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper div.DTED_Lightbox_Content div.DTE div.DTE_Footer {
                        border-bottom-left-radius: 0;
                        border-bottom-right-radius: 0;
                    }

                body.DTED_Lightbox_Mobile div.DTED_Lightbox_Wrapper div.DTED_Lightbox_Container div.DTED_Lightbox_Content_Wrapper div.DTED_Lightbox_Content div.DTED_Lightbox_Close {
                    top: 11px;
                    right: 15px;
                }

@media only screen and (max-width: 780px) {
    div.DTED_Lightbox_Wrapper {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        margin-left: 0;
    }
}

div.DTED_Envelope_Wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    height: 100%;
    z-index: 11;
    display: none;
    overflow: hidden;
}

    div.DTED_Envelope_Wrapper div.DTED_Envelope_ShadowLeft {
        position: absolute;
        top: 0;
        left: 0;
        width: 50%;
        height: 9px;
        background: url("../images/shadow_left.png") no-repeat top left;
        z-index: 10;
    }

    div.DTED_Envelope_Wrapper div.DTED_Envelope_ShadowRight {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 9px;
        background: url("../images/shadow_right.png") no-repeat top right;
        z-index: 10;
    }

    div.DTED_Envelope_Wrapper div.DTED_Envelope_Container {
        position: absolute;
        top: 0;
        left: 5%;
        width: 90%;
        border-left: 1px solid #777;
        border-right: 1px solid #777;
        border-bottom: 1px solid #777;
        box-shadow: 3px 3px 10px #555;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: white;
    }

        div.DTED_Envelope_Wrapper div.DTED_Envelope_Container div.DTE_Processing_Indicator {
            right: 36px;
        }

        div.DTED_Envelope_Wrapper div.DTED_Envelope_Container div.DTE_Footer {
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
        }

        div.DTED_Envelope_Wrapper div.DTED_Envelope_Container div.DTED_Envelope_Close {
            position: absolute;
            top: 16px;
            right: 10px;
            width: 18px;
            height: 18px;
            cursor: pointer;
            *cursor: hand;
            z-index: 12;
            text-align: center;
            font-size: 12px;
            background: #F8F8F8;
            background: -webkit-gradient(linear, center bottom, center top, from(#ccc), to(#fff));
            background: -moz-linear-gradient(top, #fff, #ccc);
            background: linear-gradient(top, #fff, #ccc);
            text-shadow: 0 1px 0 white;
            border: 1px solid #999;
            border-radius: 2px;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            box-shadow: 0px 0px 1px #999;
            -moz-box-shadow: 0px 0px 1px #999;
            -webkit-box-shadow: 0px 0px 1px #999;
        }

div.DTED_Envelope_Background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0,0,0,0.4);
    background: -ms-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.4) 100%);
    background: -moz-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.4) 100%);
    background: -o-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.4) 100%);
    background: -webkit-gradient(radial, center center, 0, center center, 497, color-stop(0, rgba(0,0,0,0.1)), color-stop(1, rgba(0,0,0,0.4)));
    background: -webkit-radial-gradient(center, ellipse farthest-corner, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.4) 100%);
    background: radial-gradient(ellipse farthest-corner at center, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0.4) 100%);
}

table.dataTable tbody tr.highlight {
    background-color: #fffbcc !important;
}

    table.dataTable tbody tr.highlight, table.dataTable tbody tr.noHighlight, table.dataTable tbody tr.highlight td, table.dataTable tbody tr.noHighlight td {
        -webkit-transition: background-color 500ms linear;
        -moz-transition: background-color 500ms linear;
        -ms-transition: background-color 500ms linear;
        -o-transition: background-color 500ms linear;
        transition: background-color 500ms linear;
    }

table.dataTable.stripe tbody tr.odd.highlight, table.dataTable.display tbody tr.odd.highlight {
    background-color: #f9f5c7;
}

table.dataTable.hover tbody tr:hover.highlight, table.dataTable.hover tbody tr.odd:hover.highlight, table.dataTable.hover tbody tr.even:hover.highlight, table.dataTable.display tbody tr:hover.highlight, table.dataTable.display tbody tr.odd:hover.highlight, table.dataTable.display tbody tr.even:hover.highlight {
    background-color: #f5f1c4;
}

table.dataTable.order-column tbody tr.highlight > .sorting_1, table.dataTable.order-column tbody tr.highlight > .sorting_2, table.dataTable.order-column tbody tr.highlight > .sorting_3, table.dataTable.display tbody tr.highlight > .sorting_1, table.dataTable.display tbody tr.highlight > .sorting_2, table.dataTable.display tbody tr.highlight > .sorting_3 {
    background-color: #f9f5c7;
}

table.dataTable.display tbody tr.odd.highlight > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.highlight > .sorting_1 {
    background-color: #f1edc0;
}

table.dataTable.display tbody tr.odd.highlight > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd.highlight > .sorting_2 {
    background-color: #f3efc2;
}

table.dataTable.display tbody tr.odd.highlight > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd.highlight > .sorting_3 {
    background-color: #f5f1c4;
}

table.dataTable.display tbody tr.even.highlight > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.highlight > .sorting_1 {
    background-color: #f9f5c7;
}

table.dataTable.display tbody tr.even.highlight > .sorting_2, table.dataTable.order-column.stripe tbody tr.even.highlight > .sorting_2 {
    background-color: #fbf7c9;
}

table.dataTable.display tbody tr.even.highlight > .sorting_3, table.dataTable.order-column.stripe tbody tr.even.highlight > .sorting_3 {
    background-color: #fdf9cb;
}

table.dataTable.display tbody tr:hover.highlight > .sorting_1, table.dataTable.display tbody tr.odd:hover.highlight > .sorting_1, table.dataTable.display tbody tr.even:hover.highlight > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.highlight > .sorting_1, table.dataTable.order-column.hover tbody tr.odd:hover.highlight > .sorting_1, table.dataTable.order-column.hover tbody tr.even:hover.highlight > .sorting_1 {
    background-color: #eae6bb;
}

table.dataTable.display tbody tr:hover.highlight > .sorting_2, table.dataTable.display tbody tr.odd:hover.highlight > .sorting_2, table.dataTable.display tbody tr.even:hover.highlight > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.highlight > .sorting_2, table.dataTable.order-column.hover tbody tr.odd:hover.highlight > .sorting_2, table.dataTable.order-column.hover tbody tr.even:hover.highlight > .sorting_2 {
    background-color: #ebe8bc;
}

table.dataTable.display tbody tr:hover.highlight > .sorting_3, table.dataTable.display tbody tr.odd:hover.highlight > .sorting_3, table.dataTable.display tbody tr.even:hover.highlight > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.highlight > .sorting_3, table.dataTable.order-column.hover tbody tr.odd:hover.highlight > .sorting_3, table.dataTable.order-column.hover tbody tr.even:hover.highlight > .sorting_3 {
    background-color: #eeebbf;
}
