/* ==================== ELEMENT SELECTORS ==================== */
body {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;	
	/*background-color: #ffffff;*/
	color: #333;
	font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	/*font:13px/1.231 arial,helvetica,clean,sans-serif;
	font-size:small; 
	font:x-small;*/ 
    width: 1440px;
}

img {border-width: 0px;}

td.details-control {
    background: url('../images/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../images/details_close.png') no-repeat center center;
}

/* ==================== ID SELECTORS ==================== */
#container {
	width: 100%;
    height: 50%;
	margin: 0;
	padding: 0;
    float: left;
}

#container #left {
	width: 858px;
    height: 100%;
	margin: 1px;
	padding: 0;
    float: inherit;
}

#container #right {
	width: 570px;
    height: 100%;
	margin: 1px;
	padding: 0;
    float: inherit;
}

#container .big {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.6em;
	color: #4E6CA3;
}

#container .spacer {
	height: 20px;
	clear: both;
}

#container .clear {
	clear: both;
}

#container pre {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

#container h1 {
	margin-top: .5em;
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	border-bottom: 1px solid #B0BED9;
	clear: both;
}

#container h2 {
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	clear: both;
}

#container a {
	color: #0063DC;
	text-decoration: none;
}

#container a:hover {
	text-decoration: underline;
}

#container ul {
	color: #4E6CA3;
}

#MessageBox {
	display: none;
	float: left;
}
#MessageBoxClose {
	background-color: #E6E6E6;
	border: solid 1px #1D3B4E;
	color: #1D3B4E;
	float: right;
	padding: 1px 2px 2px 1px;
	margin-bottom: 1px;
	font-weight: bold;
}
#MessageBoxClose a {
	color: #1D3B4E;
	text-decoration: none;
}
#MessageBoxDiv {
	border: 3px solid #000;	
	padding: 2px;
	z-index: 1000000;
	position: absolute;	
	background-color: #ffffff;	
	width: 300px;
	float: left;
}
#MessageBoxTitle {
	text-align: center;
	padding: 2px 0px 4px 0px;
	font-weight: bold;
	background-color: #AAA;
	font-size: 14px;
	width: 300px;
	float: left;
}
#MessageBoxTrans {	
	filter: alpha(opacity=40);
	opacity: 0.4;
	background-color: #AAA;
	z-index: 999999;
	position: absolute; 
	width: 100%;
	height: 100%;
}
#MessageBoxTxt {
	text-align: center;
	padding: 5px 0px 8px 0px;
	width: 300px;
	float: left;
}

/* ==================== CLASS SELECTORS ==================== */
.floatright {
	float: right;
}

.floatleft {
	float: left;
}

.border {
    border: 1px solid black;
}

