<?xml version="1.0" encoding="UTF-8"?>

-<rows>

<page>1</page>

<total>239</total>


-<row id="ZW">


-<cell>

<![CDATA[ZW]]>

</cell>


-<cell>

<![CDATA[Zimbabwe]]>

</cell>


-<cell>

<![CDATA[Zimbabwe]]>

</cell>


-<cell>

<![CDATA[ZWE]]>

</cell>


-<cell>

<![CDATA[716]]>

</cell>

</row>


-<row id="ZM">


-<cell>

<![CDATA[ZM]]>

</cell>


-<cell>

<![CDATA[Zambia]]>

</cell>


-<cell>

<![CDATA[Zambia]]>

</cell>


-<cell>

<![CDATA[ZMB]]>

</cell>


-<cell>

<![CDATA[894]]>

</cell>

</row>


-<row id="YE">


-<cell>

<![CDATA[YE]]>

</cell>


-<cell>

<![CDATA[Yemen]]>

</cell>


-<cell>

<![CDATA[Yemen]]>

</cell>


-<cell>

<![CDATA[YEM]]>

</cell>


-<cell>

<![CDATA[887]]>

</cell>

</row>


-<row id="EH">


-<cell>

<![CDATA[EH]]>

</cell>


-<cell>

<![CDATA[Western Sahara]]>

</cell>


-<cell>

<![CDATA[Western Sahara]]>

</cell>


-<cell>

<![CDATA[ESH]]>

</cell>


-<cell>

<![CDATA[732]]>

</cell>

</row>


-<row id="WF">


-<cell>

<![CDATA[WF]]>

</cell>


-<cell>

<![CDATA[Wallis and Futuna]]>

</cell>


-<cell>

<![CDATA[Wallis and Futuna]]>

</cell>


-<cell>

<![CDATA[WLF]]>

</cell>


-<cell>

<![CDATA[876]]>

</cell>

</row>


-<row id="VI">


-<cell>

<![CDATA[VI]]>

</cell>


-<cell>

<![CDATA[Virgin Islands, U.s.]]>

</cell>


-<cell>

<![CDATA[Virgin Islands, U.s.]]>

</cell>


-<cell>

<![CDATA[VIR]]>

</cell>


-<cell>

<![CDATA[850]]>

</cell>

</row>


-<row id="VG">


-<cell>

<![CDATA[VG]]>

</cell>


-<cell>

<![CDATA[Virgin Islands, British]]>

</cell>


-<cell>

<![CDATA[Virgin Islands, British]]>

</cell>


-<cell>

<![CDATA[VGB]]>

</cell>


-<cell>

<![CDATA[92]]>

</cell>

</row>


+<row id="VN">
































-<row id="VE">


-<cell>

<![CDATA[VE]]>

</cell>


-<cell>

<![CDATA[Venezuela]]>

</cell>


-<cell>

<![CDATA[Venezuela]]>

</cell>


-<cell>

<![CDATA[VEN]]>

</cell>


-<cell>

<![CDATA[862]]>

</cell>

</row>


-<row id="VU">


-<cell>

<![CDATA[VU]]>

</cell>


-<cell>

<![CDATA[Vanuatu]]>

</cell>


-<cell>

<![CDATA[Vanuatu]]>

</cell>


-<cell>

<![CDATA[VUT]]>

</cell>


-<cell>

<![CDATA[548]]>

</cell>

</row>

</rows>